* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Helvetica, sans-serif;
  color: black;
  font-size: 14px;
}

body {
  margin: 0 auto;
  min-width: 500px;
  background-color: #f3f7f8;
}

header, footer{
  text-align: center;
  width: 100vw;
  height: 90px;
  padding: 1rem 0 2rem 0;
  background-color: #025159;
  color: #FFFFFF;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  justify-content: center;
  padding: 2rem;
}



.navLogo {
  font-size: 2.9rem;
  font-weight: 700;
  padding: 10px;
  font-family: trilby, serif;
  font-weight: 900;
  font-style: normal;
}

footer p {
  font-size: 1rem;
}

img {
  width: 100%;
  height: auto;
}

h2 {
  color: red;
  text-transform: uppercase;
  text-align: left;
  font-family: trilby, serif;
}

h1 {
  text-transform: uppercase;
  color: orange;
 font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cat {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 10px;
  border: 2px solid #eee;
  padding: 1rem;
  overflow: hidden;
}

.weight {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
  width: 1.3rem;
  height: 1.3rem;
}

.description {
  font-size: 12px;
  border-top: 1px solid #ddd;
  padding-top: 0.75rem;
  line-height: 1.5;
}